*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(to bottom, #af67e9, #6565e7);
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  background: white;
  border-radius: 2.2em;
  min-height: 480px;
  width: 900px;
  -webkit-box-shadow: 0 20px 35px #00000059;
          box-shadow: 0 20px 35px #00000059;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container__left--bg-pattern {
  background: url(img/bg-pattern-desktop.svg);
  background-size: 950px;
  background-repeat: no-repeat;
  background-position: -600px -300px;
}

.container__left--women {
  position: relative;
  top: 5rem;
  right: 3rem;
}

.container__left--cube {
  position: relative;
  bottom: 9.7rem;
  right: 4.8rem;
}

.container__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 80%;
  margin: 0 auto;
  margin-right: 2rem;
}

.container__right--h1 {
  font-weight: 500;
  margin-top: 5rem;
}

.container__right--all-items {
  margin-top: 2rem;
}

.container__right--item {
  padding: .2em;
  margin: 1rem 0;
  border-bottom: 1px solid #e7e7e9;
}

.container__right--question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  border: none;
  margin-bottom: .5rem;
  width: 100%;
}

.container__right--h2 {
  font-weight: 500;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 14px;
  text-align: start;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.container__right--arrow {
  width: 4.5%;
  height: 100%;
  position: relative;
  top: 100%;
  right: 10px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.container__right--answer {
  display: none;
  font-size: .8rem;
  text-align: start;
  color: #787887;
  padding: 0rem .3rem .5rem .3rem;
  letter-spacing: .08rem;
  margin-top: 1rem;
}

.btn, .btn2, .btn3, .btn4, .btn5 {
  display: none;
}

.btn:checked ~ .container__right--answer, .btn2:checked ~ .container__right--answer, .btn3:checked ~ .container__right--answer, .btn4:checked ~ .container__right--answer, .btn5:checked ~ .container__right--answer {
  display: block;
}

.btn:checked ~ .container__right--question .container__right--arrow, .btn2:checked ~ .container__right--question .container__right--arrow, .btn3:checked ~ .container__right--question .container__right--arrow, .btn4:checked ~ .container__right--question .container__right--arrow, .btn5:checked ~ .container__right--question .container__right--arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.btn:checked ~ .container__right--question .container__right--h2, .btn2:checked ~ .container__right--question .container__right--h2, .btn3:checked ~ .container__right--question .container__right--h2, .btn4:checked ~ .container__right--question .container__right--h2, .btn5:checked ~ .container__right--question .container__right--h2 {
  color: #4a4b5e;
}

.btn:hover ~ .container__right--question .container__right--h2, .btn2:hover ~ .container__right--question .container__right--h2, .btn3:hover ~ .container__right--question .container__right--h2, .btn4:hover ~ .container__right--question .container__right--h2, .btn5:hover ~ .container__right--question .container__right--h2 {
  color: #f47c57;
}

label {
  display: block;
  position: relative;
  top: 1rem;
  left: 0;
}
/*# sourceMappingURL=main.css.map */
